/* .grid {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .content{ 
    text-decoration: none;
    color: rgb(165, 58, 58);
    text-align: center;
    align-items:flex-start;
    justify-content: center;
   
  }
}



video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media screen and(max-width: 600px) {
  .videobg{


   
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


  }
  
}

.content {
  margin-top: 4%;
  width: 100%;
  display: block;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  justify-content: center;
  position: absolute;
}

.overlay {
  height: 100vh;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-size: cover;
}




.fundo2 {
  background-image: url(../grid/imagemgrid/fundo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  background-size: cover;
  border-top: 11px solid #ffffff;
}

.content1 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.content1:hover {
  text-decoration: solid;
  color: rgb(0, 0, 0);
}

.shadow {
  border-width: 0px 4px;
  border-style: solid;
  border-color: #ffffff;
  filter: blur(5px);
}

.positionlogo {
  margin-top: 200%;
}

.textoc {
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  justify-content: center;
  color: beige;
  margin-top: 18%;
  font-size: 80px;
  left: 10%;
  padding: 2%;
}
.textoc1 {
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: beige;
  margin-top: 15%;
  color: beige;
  margin-top: 30%;
  font-size: 12px;
  left: 10%;
  text-shadow: 2px 0px black;
  padding: 2%;
}
.borderLeft {
  border-left: 8px solid hsl(0, 0%, 100%);
}

Button {
  background: transparent;
  border: transparent;
  opacity: 50%;
  margin-top: 10%;
  color: red;

}

.slider-control-bottomcenter {
  position: relative;
  top: 70px;
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.slider-list {
  margin-top: 20% !important;
  margin-left: 1% !important;
}

.textcarsousel {
  position: absolute;
  left: 10%;
  top: 10%;
  color: #ffffff;
}
.positionlogo1 {
  margin-left: 80%;
}
.textformat {
  justify-content: center;
  margin-top: 20%;
  color: #ffffff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 15%;
}
.textformat1 {
  justify-content: center;
  margin-top: 10%;
  color: #ffffff;
  text-shadow: 2px 1px #000000;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.bt1 {
  margin-top: 20%;
}
.modal-90w {
  justify-content: center;
  margin-top: 10%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 8%;
}

.direct {
  color: #ffffff;
  margin-left: 5%;
  margin-top: 28%;
}



.btn-outline-secondary {
  /* --bs-btn-color: #6c757d; */
  --bs-btn-border-color: #4d88bb;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #67b2efc7;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108,117,125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;


}
.btn-outline-secondary::before{
content: "";
background:#2e93eb;
transform: rotate(-16deg);
filter: blur(6px);
}
.btn-outline-secondary:hover::before{
left: calc(100% + 32px);
transition: 0.75s;


} */